@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
}
header{
    height: 100vh;
}
header .hero-container{
    width: 100%;
    background: #dbfdfe;
}
.hero-container{
    overflow: hidden, !important
}
/* navbar links */
.hero-container .navBar-linkss{
    padding: 10px 0;
    width: 100%;
    position: relative;
    top: 0px; 
    transition: all 0.3s ease-in-out !important;
    z-index: 100 !important ;
}
.hero-container .navBar-linkss.fixed{
    position: fixed;
    top: 0;
    z-index: 99 !important;
    background: #dbfdfe;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.hero-container .navBar{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar .logo img{
    width: 150px;
    cursor: pointer;
}
.navBar nav ul{
    display: flex;
}
.navBar nav li{
    padding: 0 25px;
}
.navBar nav li a{
    color: #666;
    transition: color .3s ease;
}
.navBar nav li a:hover{
    color: #00cc00;
}
/* menu bar */
.navBar .menu .fa-bars{
    font-size: 30px;
}

/* hero section */
.hero-box {
    margin-top: 8%;
}
.hero-box .hero-img img{
    width: 560px;
    margin: 0;
}
.hero-box .hero-text{
    position: absolute;
    top: 210px;
    left: 33%;
}
.hero-text .hero-heading{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 3%;
}
.hero-heading .line-1{
    background-image: url(../assets/h1_line01.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
}
.hero-heading .line-2{
    background-image: url(../assets/h1_line02.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 78%;
}
.hero-text .desc{
    text-align: center;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text .cta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.hero-text .cta img{
    width: 220px;
    margin-left: 40px;
}
header .hero-bottom{
    position: relative;
    text-align: center;
    margin: -30px auto;
    width: 80%;
    max-width: 100%;
    background-image: url(../assets/hero_bottom_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.hero-bottom .hero-bottom-text{
    padding: 0 15%;
    font-size: 14px;
}
